           /* General CSS */
           @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700;800;900&display=swap');
           @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

           *,
           *::before,
           *::after {
               -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
               box-sizing: border-box;
               margin: 0;
               padding: 0;
               text-decoration: none;
               outline: none;
           }

           :root {

               /* Background Color */
               --bg-white: #fff;

               /* Text Colors */
               --primary-text: rgb(185, 96, 13);
               --secondary-color: red;
               --light-color: #e2f6de;
               --dark-color: #d77307;
               --text-white: #fff;
               --text-gray: #dee2e6;
               --anchor-color: #007aff;

               /* Font Family */
               --primary-font: 'Barlow Condensed', sans-serif;
               --secondary-font: 'Roboto', sans-serif;
           }

           body,
           html {
               color: var(--primary-text);
               font-size: 10px;
               font-weight: 400;
               font-family: var(--primary-font);
               scroll-behavior: smooth;
               line-height: 1.5;
           }

           h1,
           h2,
           h3,
           h4,
           h5,
           h6,
           p {
               margin: 0;
           }

           h1 {
               font-size: 9rem;
               line-height: 1.4;
               font-weight: 600;
               color: var(--primary-text);
           }

           h2 {
               color: var(--primary-text);
               font-size: 4.7rem;
               font-weight: 600;
               display: inline-block;
               text-transform: capitalize;
               line-height: 1.2;
               margin-bottom: 2rem;
           }

           h3 {
               color: var(--text-white);
               font-size: 3.1rem;
               line-height: 1.2;
               font-weight: 700;
           }

           h4 {
               font-size: 2.5rem;
               font-weight: 700;
               line-height: 1;
               color: var(--primary-text);
           }

           h5 {
               font-size: 1.8rem;
               font-weight: 600;
               line-height: 1;
               color: var(--primary-text);
           }

           p {
               font-size: 1.6rem;
               line-height: 1.6;
               margin-top: 1rem;
               color: var(--primary-text);
               font-family: var(--secondary-font);
           }

           embed,
           iframe,
           img,
           object {
               max-width: 100%;
           }

           ul {
               margin: 0;
               padding: 0;
               list-style: none;
           }

           a,
           a:active,
           a:focus,
           a:hover,
           button {
               text-decoration: none;
               outline: 0;
           }

           li a {
               color: var(--text-white);
           }

           a:hover,
           button:hover {
               -webkit-transition: all 0.3s ease-in;
               -o-transition: all 0.3s ease-in;
               -moz-transition: all 0.3s ease-in;
               transition: all 0.3s ease-in;
           }

           ::-webkit-scrollbar {
               width: 10px;
           }

           ::-webkit-scrollbar-track {
               background: var(--white);
           }

           ::-webkit-scrollbar-thumb {
               background: var(--secondary-color);
           }

           .main-btn {
               position: relative;
               color: var(--bg-white);
               background: linear-gradient(to right, rgb(13, 120, 128), #043130);
               z-index: 1;
               overflow: hidden;
               border: 0.2rem solid var(--bg-white);
               border-radius: 3.5rem;
               text-transform: uppercase;
               padding: 1rem 3.5rem;
               font-weight: 600;
               font-size: 1.8rem;
               margin-top: 1.5rem;
               letter-spacing: 0.2rem;
           }

           .main-btn:hover {
               background: var(--bg-white);
               color: var(--secondary-color);
               border: 0.2rem solid var(--secondary-color);
           }

           /* section {
               padding: 5rem 0;
           } */
           #xyzz {
               padding: 5rem 0;
               margin-top: 150px;
           }

           #xyzzz{
            padding: 5rem 0;
           }

           

           .section-title {
               font-size: 4rem;
               font-weight: 600;
               color: var(--primary-text);
               text-transform: capitalize;
               margin-bottom: 2rem;
           }

           .section-subtitle {
               font-size: 1.6rem;
               font-weight: 400;
               color: var(--primary-text);
               font-family: var(--secondary-font);
               max-width: 40%;
               margin: auto;
               margin-bottom: 1.5rem;
           }

           .about .banner_section,
           .product .banner_section,
           .gallery .banner_section,
           .contact .banner_section,
           .distributors .banner_section {
               background: url('../images/banner-slide/top-banner.jpg');
               background-repeat: no-repeat;
               background-position: center;
               background-size: cover;
               padding-top: 17rem;
               padding-bottom: 10rem;
               min-height: auto;
           }

           .contact .contact-form,
           .distributors .contact-form {
               background-color: var(--light-color);
               padding: 5rem;
               box-shadow: 0 0.2rem 1.5rem rgb(0 0 0 / 4%);
           }

           .contact .contact-form .form-control:focus,
           .distributors .contact-form .form-control:focus {
               outline: none;
               box-shadow: none;
           }

           .contact .contact-form .form-control::placeholder,
           .distributors .contact-form .form-control::placeholder {
               color: var(--primary-text);
           }

           .contact .contact-form .form-control,
           .distributors .contact-form .form-control {
               padding: 1rem 1.5rem;
               border-radius: 0.rem;
               border: 0.1rem solid black;
               color: var(--primary-text);
               font-size: 1.5rem;
               font-weight: 400;
               font-family: var(--secondary-font);
           }

           /* 01 navbar css */

           .header {
               position: absolute;
               width: 100%;
               top: 2rem;
               left: 0;
               z-index: 2;
           }

           .header .navbar {
               background: url('../images/header-bg.png');
               background-repeat: no-repeat;
               background-position: center;
               background-size: contain;
               padding: 2rem 5rem;
           }

           .navbar-brand {
               width: 7.5rem;
               margin-top: -0.1rem;
           }

           .header .navbar-nav .nav-link {
               color: var(--text-white);
               text-transform: uppercase;
               font-size: 1.6rem;
               font-weight: 600;
               padding: 0.5rem 2rem;
               margin: 0 0.2rem;
               font-family: var(--primary-font);
           }

           .header .navbar-nav .nav-link:hover,
           .header .navbar-nav .nav-link.active {
               color: var(--secondary-color);
           }

           .header .navbar-toggler {
               color: var(--text-white);
               font-size: 2rem;
               height: 2.7rem;
               padding: 0;
           }

           .header .navbar-toggler:focus {
               outline: none;
               box-shadow: none;
           }

           .header .header-right ul img {
               width: 2rem;
           }

           .header .header_right span {
               color: var(--secondary-color);
               display: block;
               font-weight: 700;
               font-size: 1.4rem;
               margin-right: 1rem;
           }

           .header .header_right .phone_no {
               color: var(--text-white);
               font-size: 1.6rem;
           }

           .header .header_right a {
               height: 3.5rem;
               width: 3.5rem;
               text-align: center;
               background-color: #13424a;
               border-radius: 50%;
               margin-left: 1rem;
               display: flex;
               align-items: center;
               justify-content: center;
           }

           .header-scrolled {
               position: fixed;
               top: -0.4rem;
               left: 0;
               right: 0;
               width: 100%;
               max-width: 1320px;
               margin: auto;
               z-index: 999;
               /* box-shadow: .5084rem 1.1419rem 2.5rem 0 rgb(0 0 0 / 8%); */
               transition: 0.3s ease-in-out;
           }

           /* 02 Banner Section */

           .banner_section {
               /* background: url('../images/banner-slide/Banner-1.jpg'); */
               background-repeat: no-repeat;
               background-size: cover;
               background-position: center;
               min-height: 90vh;
           }

           .banner_section .carousel-item {
               padding: 3rem 0;
               height: 90vh;
           }

           .banner_section .carousel-caption {
               top: 30%;
               bottom: 0;
               left: 3%;
               right: 0;
               text-align: left;
               width: 100%;
           }

           .banner_section .carousel-caption h3 {
               padding: 0.5rem 1.5rem;
               background-color: var(--dark-color);
               display: inline;
           }

           .banner_section .carousel-caption p {
               max-width: 40rem;
               margin-bottom: 2rem;
           }

           /* Features CSS */

           .feature_section .features-box {
               background-color: transparent;
               border: 0.15rem solid var(--light-color);
               padding: 8rem 0;
               transition: all 0.3s;
           }

           .feature_section .features-box .features-icon-border {
               background-color: transparent;
               border-radius: 50%;
               border: 0.2rem solid var(--light-color);
               padding: 1.3rem;
               display: inline-block;
           }

           .feature_section .features-box .features-icon {
               height: 6.5rem;
               width: 6.5rem;
               background-color: var(--light-color);
               margin: auto;
               border-radius: 50%;
               display: flex;
               align-items: center;
               justify-content: center;
           }

           .feature_section .features-box .features-icon img {
               width: 3.7rem;
           }

           .feature_section .features-box h3 {
               margin-top: 1.5rem;
               color: var(--primary-text);
           }




           /* About Section */

           .landing_about_section {
               background: url('../images/about-banner1.jpg');
               background-repeat: no-repeat;
               background-size: cover;
               background-position: center;
               padding: 9rem 0;
               margin-bottom: 10px;
           }

           .landing_about_section p {
               color: var(--primary-text);
               margin-bottom: 2rem;
           }


           /* product card design */

           .landing_product_section .product-card {
               position: relative;
               overflow: hidden;
               cursor: pointer;
               border: transparent;
               border: 0.2rem solid var(--light-color);
               padding: 2rem 1rem;
               position: relative;
               transition: all 0.3s;
           }

           .landing_product_section .product-card .product-img {
               margin-bottom: 7rem;
               text-align: center;
           }

           .landing_product_section .product-card h3 {
               color: var(--primary-text);
           }

           .landing_product_section .product-card span {
               font-size: 1.8rem;
               font-weight: 600;
               text-transform: uppercase;
               color: var(--secondary-color);
               margin-right: 0.5rem;
               transition: all 0.3s;

           }

           .landing_product_section .product-detail {
               position: absolute;
               bottom: -22rem;
               right: 0;
               left: 0;
               text-align: center;
               padding: 5rem 1rem;
               transition: all 0.5s ease;
           }

           .landing_product_section .product-card:hover .product-detail {
               bottom: 0;
           }






           .footer_wrapper h5 {
               color: var(--text-white);
               font-size: 2.5rem;
               margin-bottom: 1.25rem;
           }

           .footer_wrapper ul li {
               margin-bottom: .5rem;
               list-style: none;
           }

           .footer_wrapper .company_details {
               font-size: 1.4rem;
           }

           .footer_wrapper .contact-info li a {
               color: var(--text-gray);
               font-size: 1.6rem;
           }

           .footer_wrapper .link-widget li a,
           .footer_wrapper p {
               color: var(--text-gray);
               font-size: 1.6rem;
               padding-left: 1.5rem;
               position: relative;
               -webkit-transition: all 0.3s ease-out 0s;
               transition: all 0.3s ease-out 0s;
           }

           .footer_wrapper .link-widget li a::before {
               content: '\f105';
               font-family: "Font Awesome 5 Free";
               font-weight: 900;
               position: absolute;
               left: 0.3rem;
               top: 50%;
               -webkit-transform: translateY(-50%);
               transform: translateY(-50%);
           }

           .footer_wrapper .link-widget li a:hover {
               margin-left: .625rem;
               color: var(--secondary-color);
           }

           .footer_wrapper .social-network a {
               width: 3.5rem;
               height: 3.5rem;
               margin: .5rem;
               line-height: 3.2rem;
               font-size: 1.5rem;
               display: inline-block;
               border: .125rem solid var(--text-gray);
               color: var(--text-gray);
               text-align: center;
               border-radius: 100%;
               -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
               transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
           }

           .footer_wrapper .social-network a:hover {
               background-color: var(--secondary-color);
               border-color: var(--secondary-color);
               color: var(--text-white);
               box-shadow: 0 .625rem .9375rem 0 rgb(0 0 0 / 10%);
               transform: translateY(-0.1875rem);
           }

           .footer_wrapper .form-control {
               font-size: 2rem;
               color: white;
           }

           .footer_wrapper .form-control:focus {
               outline: none;
               box-shadow: none;
               border-color: var(--secondary-color);
           }

           .footer_wrapper .copyright-section {
               background-color: var(--secondary-color);
               text-align: center;
               margin-top: 5rem;
           }

           .footer_wrapper .copyright-section p {
               margin-top: 0;
               padding: 3rem 0;
               line-height: 0;
           }

           .footer_wrapper .copyright-section a {
               color: var(--primary-text);
               font-weight: 600;
           }

           /* ===========================
           About Page CSS
           ============================== */

           .about .about-details p {
               color: var(--primary-text);
           }

           /* ===========================
           Contact Page CSS
           ============================== */
           .contact .contact-form textarea {
               min-height: 15rem;
           }

           .contact .content-box .info-box li {
               position: relative;
               padding-left: 7rem;
               padding-bottom: 3.5rem;
               margin-bottom: 2.9rem;
           }

           .contact .content-box .info-box li i {
               position: absolute;
               left: 0;
               top: 1.5rem;
               font-size: 4.5rem;
               line-height: 4.5rem;
               color: var(--primary-text);
           }

           .contact .content-box .info-box li p {
               color: var(--primary-text);
           }

           .contact .content-box .info-box li a {
               color: var(--dark-color);
               font-size: 2.5rem;
               font-weight: 400;
               margin-bottom: 0;
               font-family: var(--secondary-font);
           }


           /* ===========================
           Product Page CSS
           ============================== */

           .product .product-details p {
               margin-bottom: 1.5rem;


           }




           /* Media Query 1170px */
           @media (max-width:1170px) {

               /* General CSS */
               .section-subtitle {
                   max-width: 60%;
               }

               /* 01 Navbar CSS */
               .header .navbar {
                   background-size: cover;
                   padding: 2rem;
               }

               .header .navbar-nav {
                   margin-top: 2rem;
               }

               .header .navbar-nav .nav-link {
                   padding: 0.2rem 0.5rem;
                   margin-bottom: 1rem;
               }

               .header .header_right span {
                   padding: 0.2rem 0.5rem;
               }

               /* 02 Banner Section */
               .banner_section .carousel-item {
                   height: 90vh;
               }
           }

           /* Media Query 991px */
           @media (max-width:991px) {

               /* 01 Navbar CSS */
               .header .navbar {
                   background-size: cover;
                   padding: 1rem 2rem;
               }

               .header .navbar-nav {
                   margin-top: 2rem;
               }

               .header .navbar-nav .nav-link {
                   padding: 0.2rem 0.5rem;
                   margin-bottom: 1rem;
               }

               .header .header_right span {
                   padding: 0.2rem 0.5rem;
               }


               /* General CSS */
               .about .banner_section,
               .product .banner_section,
               .Gallery .banner_section,
               .contact .banner_section {
                   padding-top: 12.5rem;
                   padding-bottom: 3rem;
               }
           }

           /* Media Query 767px */
           @media (max-width:767px) {

               /* General CSS */
               body,
               html {
                   font-size: 8px;
               }

               .section-subtitle {
                   max-width: 80%;
               }

               /* 02 Banner Section */
               .banner_section {
                   min-height: 70vh;
               }

               .banner_section .carousel-item {
                   height: 70vh;
               }
           }

           /* Media Query 590px */
           @media (max-width:590px) {

               /* General CSS */
               body,
               html {
                   font-size: 7px;
               }

               .banner_section {
                   min-height: 50vh;
               }

               .banner_section .carousel-item {
                   height: 50vh;
               }
           }

           @media (max-width:390px) {

               /* General CSS */
               body,
               html {
                   font-size: 5px;
               }

               .section-subtitle {
                   max-width: 40%;
               }

               .banner_section {
                   min-height: 35vh;
               }

               .banner_section .carousel-item {
                   height: 35vh;
               }

           }








           .ratings i{
            color:blue;
        }
        #asdgh{
            color: #03262c;
        }








           .aboutus-area {
               padding-top: 10px;
               padding-bottom: 10px;
               margin-top: 20rem;
           }

           /*-- aboutus Image --*/
           .aboutus-image {
               margin: 0px;
               width: 480px;
               height: 500px;
           }

           @media only screen and (min-width: 992px) and (max-width: 1200px) {
               .aboutus-image {
                   margin-right: 35px;
                   width: 345px;
               }

           }

           @media only screen and (min-width: 768px) and (max-width: 991px) {
               .aboutus-image {
                   margin-bottom: 30px;
                   float: none;
               }
           }

           @media only screen and (max-width: 767px) {
               .aboutus-image {
                   margin-bottom: 30px;
                   margin-right: 0;
                   float: none;
                   width: auto;
               }

               .hidden-sm {
                   display: block !important;
                   width: 340px;
                   height: 85%;
               }
           }

           .aboutus-image img {
               height: 100%;
               width: 100%;
           }

           /*-- aboutus Content --*/
           .aboutus-content h2 {
               font-size: 40px;
               font-weight: 800;
               line-height: 40px;
               margin-bottom: 2px;
           }

           @media only screen and (max-width: 479px) {
               .aboutus-content h2 {
                   font-size: 30px;
                   line-height: 30px;
               }
           }

           .aboutus-content h2 span {
               color: #71b100;
           }

           .aboutus-content h4 {
               font-size: 18px;
               font-weight: 500;
               color: #9b9b9b;
               margin-bottom: 23px;
           }

           .aboutus-content p {
               font-size: 16px;
               line-height: 27px;
           }

           /*-- counter --*/
           .single-counter {
               border: none;
               margin-top: 32px;
               float: left;
               width: 100%;
           }

           .single-counter {
               float: left;
               width: 25%;
               padding: 28px 15px 28px;
           }

           @media only screen and (max-width: 767px) {
               .counter .single-counter {
                   width: 50%;
               }
           }

           .counter .single-counter+.single-counter {
               border-left: none
           }

           .counter .single-counter h2 {
               font-size: 30px;
               color: #71b100;
               line-height: 24px;
               font-family: "Open Sans", sans-serif;
               margin-bottom: 8px;
           }

           .counter .single-counter p {
               font-size: 16px;
               font-weight: 600;
               margin-bottom: 0;
               color: #8f8f8f;
           }














           /*footer*/
           .col_white_amrc {
               color: #FFF;
           }

           footer {
               width: 100%;
               background-color: #263238;
               min-height: 250px;
               padding: 10px 0px 25px 0px;
               position: bottom
               ;
           }

           .pt2 {
               padding-top: 40px;
               margin-bottom: 20px;
           }

           footer p {
               font-size: 13px;
               color: #CCC;
               padding-bottom: 0px;
               margin-bottom: 8px;
           }

           .mb10 {
               padding-bottom: 15px;
           }

           .footer_ul_amrc {
               margin: 0px;
               list-style-type: none;
               font-size: 14px;
               padding: 0px 0px 10px 0px;
           }

           .footer_ul_amrc li {
               padding: 0px 0px 5px 0px;
           }

           .footer_ul_amrc li a {
               color: #CCC;
           }

           .footer_ul_amrc li a:hover {
               color: #fff;
               text-decoration: none;
           }

           .fleft {
               float: left;
           }

           .padding-right {
               padding-right: 10px;
           }

           .footer_ul2_amrc {
               margin: 0px;
               list-style-type: none;
               padding: 0px;
           }

           .footer_ul2_amrc li p {
               display: table;
           }

           .footer_ul2_amrc li a:hover {
               text-decoration: none;
           }

           .footer_ul2_amrc li i {
               margin-top: 5px;
           }

           .bottom_border {
               border-bottom: 1px solid #323f45;
               padding-bottom: 20px;
           }

           .foote_bottom_ul_amrc {
               list-style-type: none;
               padding: 0px;
               display: table;
               margin-top: 10px;
               margin-right: auto;
               margin-bottom: 10px;
               margin-left: auto;
           }

           .foote_bottom_ul_amrc li {
               display: inline;
           }

           .foote_bottom_ul_amrc li a {
               color: #999;
               margin: 0 12px;
           }

           .social_footer_ul {
               display: table;
               margin: 15px auto 0 auto;
               list-style-type: none;
           }

           .social_footer_ul li {
               padding-left: 20px;
               padding-top: 10px;
               float: left;
           }

           .social_footer_ul li a {
               color: #CCC;
               border: 1px solid #CCC;
               padding: 8px;
               border-radius: 50%;
           }

           .social_footer_ul li i {
               width: 20px;
               height: 20px;
               text-align: center;
           }














           .contact {
               padding: 4%;
               height: 400px;
               margin-bottom: 200px;
           }

           .col-md-3 {
               background: #ff9b00;
               padding: 4%;
               border-top-left-radius: 0.5rem;
               border-bottom-left-radius: 0.5rem;
           }

           .contact-info {
               margin-top: 10%;
           }

           .contact-info img {
               margin-bottom: 15%;
           }

           .contact-info h2 {
               margin-bottom: 10%;
           }

           .col-md-9 {
               background: #fff;
               /* padding: 3%; */
               border-top-right-radius: 0.5rem;
               border-bottom-right-radius: 0.5rem;
           }

           .contact-form label {
               font-weight: 600;
           }

           .contact-form button {
               background: #25274d;
               color: #fff;
               font-weight: 600;
               width: 25%;
           }

           .contact-form button:focus {
               box-shadow: none;
           }












           
          
         
           
           ul,
           li {
             list-style: none;
             -webkit-padding-start: 0;
           }
           
          
           
           
           
           .nav-item-dropdown {
             position: relative;
           }
           .nav-item-dropdown:hover > .dropdown-menu {
             display: block;
             opacity: 1;
           }
           
           .dropdown-trigger {
             position: relative;
           }
           .dropdown-trigger:focus + .dropdown-menu {
             display: block;
             opacity: 1;
           }
           .dropdown-trigger::after {
             /* content: "›"; */
             position: absolute;
             color: red;
             font-size: 24px;
             font-weight: bold;
             transform: rotate(90deg);
             top: -5px;
             right: -15px;
           }
           
           .dropdown-menu {
             background-color: #03262c;
             display: inline-block;
             text-align: right;
             position: absolute;
             top: 2.5rem;
             right: -10px;
             display: none;
             opacity: 0;
             transition: opacity 0.5s ease;
             width: 160px;
           }
           .dropdown-menu a {
             color: #fff;

           }
           
           .dropdown-menu a:hover{
            color: red;
           }

           .dropdown-menu-item {
             cursor: pointer;
             padding: 0.2em;
             text-align: center;
             font-size: 20px;
           }
           .dropdown-menu-item:hover {
             background-color: #03262c;
             color: red;
           }



           











           .sectionqu {
            position: relative;
            height: 100vh;
            margin-top: 150px;
        }
        
        .sectionqu .sectionqu-center {
            
            top: 500%;
            left: 0;
            right: 0;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%)
        }
        
        #booking {
            font-family: 'Raleway', sans-serif
        }
        
        .booking-form {
            position: relative;
            max-width: 642px;
            width: 100%;
            margin: auto;
            padding: 40px;
            overflow: hidden;
            background-image: url('https://i.imgur.com/8z1tx3u.jpg');
            background-size: cover;
            border-radius: 5px;
            z-index: 20
        }
        
        .booking-form::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: rgba(0, 0, 0, 0.7);
            z-index: -1
        }
        
        .booking-form .form-header {
            text-align: center;
            position: relative;
            margin-bottom: 30px
        }
        
        .booking-form .form-header h1 {
            font-weight: 700;
            text-transform: capitalize;
            font-size: 42px;
            margin: 0px;
            color: #fff
        }
        
        .booking-form .form-group {
            position: relative;
            margin-bottom: 30px
        }
        
        .booking-form .form-control {
            background-color: rgba(255, 255, 255, 0.2);
            height: 60px;
            padding: 0px 25px;
            border: none;
            border-radius: 40px;
            color: #fff;
            -webkit-box-shadow: 0px 0px 0px 2px transparent;
            box-shadow: 0px 0px 0px 2px transparent;
            -webkit-transition: 0.2s;
            transition: 0.2s
        }
        
        .booking-form .form-control::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.5)
        }
        
        .booking-form .form-control:-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.5)
        }
        
        .booking-form .form-control::placeholder {
            color: rgba(255, 255, 255, 0.5)
        }
        
        .booking-form .form-control:focus {
            -webkit-box-shadow: 0px 0px 0px 2px #ff8846;
            box-shadow: 0px 0px 0px 2px #ff8846
        }
        
        .booking-form input[type="date"].form-control {
            padding-top: 16px
        }
        
        .booking-form input[type="date"].form-control:invalid {
            color: rgba(255, 255, 255, 0.5)
        }
        
        .booking-form input[type="date"].form-control+.form-label {
            opacity: 1;
            top: 10px
        }
        
        .booking-form select.form-control {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none
        }
        
        .booking-form select.form-control:invalid {
            color: rgba(255, 255, 255, 0.5)
        }
        
        .booking-form select.form-control+.select-arrow {
            position: absolute;
            right: 15px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 32px;
            line-height: 32px;
            height: 32px;
            text-align: center;
            pointer-events: none;
            color: rgba(255, 255, 255, 0.5);
            font-size: 14px
        }
        
        .booking-form select.form-control+.select-arrow:after {
            content: '\279C';
            display: block;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg)
        }
        
        .booking-form select.form-control option {
            color: #000
        }
        
        .booking-form .form-label {
            position: absolute;
            top: -10px;
            left: 25px;
            opacity: 0;
            color: #ff8846;
            font-size: 11px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            height: 15px;
            line-height: 15px;
            -webkit-transition: 0.2s all;
            transition: 0.2s all
        }
        
        .booking-form .form-group.input-not-empty .form-control {
            padding-top: 16px
        }
        
        .booking-form .form-group.input-not-empty .form-label {
            opacity: 1;
            top: 10px
        }
        
        .booking-form .submit-btn {
            color: #fff;
            background-color: #e35e0a;
            font-weight: 700;
            height: 60px;
            padding: 10px 30px;
            width: 100%;
            border-radius: 40px;
            border: none;
            text-transform: uppercase;
            font-size: 16px;
            letter-spacing: 1.3px;
            -webkit-transition: 0.2s all;
            transition: 0.2s all
        }
        
        .booking-form .submit-btn:hover,
        .booking-form .submit-btn:focus {
            opacity: 0.9
        }